<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('head'); %>
</head>
<body>
    <%- include('header'); -%>
    <main>
        <h1>Hello World</h1>
    </main>
    <%- include('footer'); -%>
</body>
</html>